@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to staging provide additional information.now with  cicd- if check if this line is published staging and dev-</p>

<p>Use this area to staging provide additional information.now with  cicd- if check if this line is published staging and dev-</p>
